<h1> Two Do </h1>

<%= form_for @list do |form| %>
  <%= form.text_field :name %>
  <%= form.submit "Create List" %>
<% end %>

<% @lists.each do |list| %>
<br><br><br><br>
<div>
  <h4><%= list.name %>
    <%= form_for list do |form| %>
      <%= form.text_field :name %>
      <%= form.submit "Rename List" %>
    <% end %>
    <%= button_to 'Delete List', list,
    method: :delete,
    data: { confirm: "Are you sure you want to delete this list?" } %></h4>



  
  <ul>
  <% list.tasks.each do |task| %>
    <% if !task.done %>
      <li>
        <%= task.description %> 
        <%= button_to "Done", complete_task_path(task) %>
      </li>      
    <% end %>
  <%end %>
  </ul>
  <%= form_for [list, @task] do |form| %>
    <%= form.text_field :description %>
    <%= form.submit "Add Task" %>
  <% end %>

</div>
<% end %>